<section class="heading-section">
    <h1 class="title is-1 has-text-centered">Todos</h1>
</section>
 
<div class="container">
    <div class="add-todo-box">
        <form #form="ngForm" (ngSubmit)="onCreateTodos()">
            <h2 class="title is-5">New Todo</h2>
            <div class="field is-grouped">
                <div class="control is-expanded">
                    <input [(ngModel)] = "newTodoText" type="text" class="input" name="newTodoTextInput" placeholder="Type Todo text here...">
                </div>
                <div class="control is-expanded">
                    <input [(ngModel)] = "newTodoDate" type="date" class="input" name="newTodoDateInput" placeholder="Type Todo Completion Date here...">
                </div>
                <div class="control">
                    <button class="button alt-gradient-button">
                        <i class="material-icons">add</i>
                        Add
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
        
            
          
   

<section class="section">
    <div class="container">

            <div class="float-container" >
                <form #form="ngForm" (ngSubmit)="onFilterTodos()">
                    <div class="float-container" style="border:1px dotted #808080; border-radius:5px;">
                        <div class="float-child "  name="filterDateInput">
                            <label for="filterdate">Select a Date:</label>
                            <input [(ngModel)] = "filterDate" class="input" type = "date" placeholder="Select Date" name="filterdate">
                        </div>
                        <div class="float-child ">
                        <label for="filterStatusInput">Select Status:</label><br>
                        <div name="filterStatusInput">  
                            <input [(ngModel)] = "filterStatus" type="radio" id="completedStatus" name="completedStatus" value="completed">
                            <label for="completedStatus" style="padding-left:10px">Completed</label><br>
                            <input [(ngModel)] = "filterStatus" type="radio" id="uncompletedStatus" name="uncompletedStatus" value="uncompleted">
                            <label for="uncompletedStatus" style="padding-left:10px">Uncompleted</label><br>
                        </div>
                        </div>
                        <div class="float-child ">
                            <button type="submit" class="button alt-gradient-button" style="margin-top:15px;" >
                            Filter Todos
                            </button>
                        </div>  
                    </div>
                </form>
            <div class="float-child" style="text-align:right;">
                <button type="submit" click="onSortTodos()" style="text-align:right; margin-top:20px;" class="button alt-gradient-button" >
                    Sort Todos
                </button>
            </div> 
        </div>
            
             

     

        <div class="todos-list">
            <div class="todo-item" *ngFor="let todo of todos" [class.completed]="todo.completed">
                <div class="check-box">
                    <i class="material-icons">
                        check
                    </i>
                </div>
                <div class="todo-text">
                    {{todo.text}}
                </div>
                <div class="todo-text" style="margin-left: 50px;">
                    {{todo.completiondate}}
                </div>
                <div class="todo-text" style="margin-left: 50px;">
                    {{todo.recordid}}
                </div>
                <div class="todo-control-bar">
                    <div class="todo-control-button">
                        <i class="material-icons">edit</i>
                    </div>
                    <div class="todo-control-button is-danger">
                        <i class="material-icons">delete</i>
                    </div>
                </div>
            </div>

            
        </div>
    </div>
</section>

